@use "@/shared/breakpoints" as bp;

.worksGrid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;

  @media (max-width: bp.$md) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media (max-width: bp.$sm) {
    grid-template-columns: 1fr;
  }
}
